.m_projeto{
    background-color: black;
    display: flex;
}

.projeto{
    border: 1px solid #ffff;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #eee;
}

.imagem_1 img{
width: 200px;
height: 200px;
}

.imagem_1 {
    float: left;
    margin-left: 10px;
    margin-right: 20px;
}