.m_cursos{
    background-color: #00ffff;   
        display: flex;
}
.curso{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: #eee;
    padding: 5px;
    margin: 5px;
}

.imagem1 img{
    width: 200px;
    height: 200px;
}

.imagem1{
    float:left;
    margin-left: 10px;
    margin-right: 20px;
}